#caja1{
    display: flex;
    background-image: url("/Imagenes/restaurante1.jpg");
    background-color: #cccccc;
    
}
#registro{
    margin-left: auto;
    margin-right: auto;
}
#login{
    margin-left: auto;
    margin-right: auto;
}