#caja1{
    display: flex;
    background-image: url("/Imagenes/restaurante2.jpg");
    background-color: #cccccc;
    flex-wrap: wrap;
    
}
#registro{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
#login{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}