#caja1{
    display: flex;
    
    background-color: #cccccc;
    flex-wrap: wrap;
    border: 1px;
    
}
#registro{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px;
    
}
#login{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}