@font-face{
    font-family: 'fuente1';
    src: url('digital-7.ttf');
}
@font-face{
    font-family: 'fuente2';
    src: url('DS-DIGI.TTF');
}
.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:15px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    font-family:'fuente1';
    font-size:60px;
    color:#fff;
}

